*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    border: 1px solid black;
    background-color: #67999A;
    display: flex;
}
#cabeceraImagenNombre{
    flex: 30%;

}
#cabeceraMenu{
    flex: 70%;
    margin: 15px 20px 0 0;
    text-align: right;

}
ul li{
    color: #550101;
    text-decoration: none;
    display: inline;
    border-right: solid 2px #550101;
}
#contenidoCuerpo{
    width: 100%;
    background-color: #D3EE9F;
    display: flex;
    padding-top: 50px;
}
#CuerpoImagen{
    flex: 40%;
}
#CuerpoDetalle{
    flex: 60%;
}
footer{
    width: 100%;
}
#imagenNombreRedondo{
    width: 130px;
    position: relative;
    z-index: 1000;
    height: 130px;
    background-color: white;
    display: flex;
    border-radius: 75px;
    left: 10px;
    background-image: url("../img/Recurso\ 7.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#nombreRectangulo{
    background-color: #013334;
    width: 12%;
    padding: 12px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 14%;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
}
ul li a:hover{
    color: white;
    text-decoration: underline;
}
#LogoInicio{
    background-image: url("../img/Recurso\ 7.png");
    padding: 2px 0 0 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#BorderImagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: auto;
}
img{
    border-radius: 10px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#DatosDetalle{
    text-align: justify;
    padding: 30px;
}
#Botones{
    display: flex;
    padding: 30px;
}
#BotonFavorito{
    flex: 50%;
}
#BotonUbicacion{
    flex: 50%;
}
.DisenoBoton{
    width: 250px;
    background-color: #cccccc;
    border-radius: 20px;
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    background-position: left 5px center;
}
#MarcoFavorito{
    background-image: url(../img/Recurso\ 13.png);
}#MarcoUbicacion{
    background-image: url(../img/Recurso\ 2.png);
}
.DisenoBoton:hover{
    opacity: 50%;
    Cursor: Pointer;
}
